<div class="container" style="margin-top: 10px;">
  <div class="row">
    <div class="col-12 col-md-9">
      <!-- subission form -->
      <div class="card col-12 mb-2">
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control"></textarea>
            </div>
          </form>
          <button class="btn btn-primary">Send</button>
        </div>
      </div>

      <!-- entries -->
      <div class="card col-12 mb-2" *ngFor="let entry of entries">
        <div class="card-body pl-0 pt-2">


          <div class="row">
            <div class="col-1">
              <img class="img64 rounded" [src]="entry.sender.avatarUrl" width="48px" alt="profile_pic">
            </div>
            <div class="col-11">
              <a href="">{{entry.sender.fullName}}</a>
              <p class="card-text">
                {{entry.content}}
                <br>
                <small><a href="">6 hours ago</a> from iPhone - <a href=""><i class="fa fa-eye-slash"></i></a> </small>
              </p>
              <hr *ngIf="entry.comments.length>0">
              <div *ngFor="let comment of entry.comments" class="d-flex comment font-weight-light">
                <div class="">
                  <a href="">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <i class="fa fa-frown-o" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="col-10">
                  <p>
                    <i class="fa fa-comment" aria-hidden="true"></i> {{comment.content}} -
                    <a href="">{{comment.sender.fullName}}</a>
                  </p>
                </div>
                <div class="">
                  <a href="">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row mt-2 d-flex justify-content-between">
            <div class="col-1">
              <a href="">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <i class="fa fa-frown-o" aria-hidden="true"></i>
              </a>
            </div>
            <div class="col-1">
              <i class="fa fa-comment-o" aria-hidden="true"></i>
            </div>
            <div class="col-1">
              <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            </div>
            <div class="col-1">
              <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            </div>
            <div class="col-1">
              <a href="">
                <i class="fa fa-smile-o" aria-hidden="true"></i>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>


            <!--


          </div>
          -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <!--<div class="card border-light mb-3" style="max-width: 18rem;">-->
      <div class="card border-light">
        <div class="card-header">Ciao Senape</div>
        <!--<div class="card-body">-->
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="" class="card-link list-group-item-action"><i class="fa fa-pencil-square-o"></i> My feeds</a><br>
              <a href="" class="card-link"><i class="fa fa-commenting"></i> My discussions</a>
            </li>
            <li class="list-group-item list-group-item-action">
              <a href="" class="card-link"><i class="fa fa-bookmark"></i> Bookmarks</a>
            </li>
            <li class="list-group-item">
              <a href="" class="card-link"><i class="fa fa-question-circle"></i> Read me</a>
            </li>
            <li class="list-group-item">
              <a href="" class="card-link"><i class="fa fa-envelope-open"></i> Invitations</a>
            </li>
            <li class="list-group-item">
              <a href="" class="card-link"><i class="fa fa-star-o"></i> Best of day</a>
            </li>
            <li class="list-group-item">
              <a href="" class="card-link">Public posts - Everything</a>
            </li>
            <li class="list-group-item">
              <a href="" class="card-link">Public posts - Rooms</a>
            </li>
          </ul>
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
